################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AskAndAnswer/.vs/AskAndAnswer/v16
/.vs
/AskAndAnswer/AskAndAnswer/x64/Debug
/AskAndAnswer/x64/Debug
